*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --text: rgb(44, 44, 44);
    --bg-box: white;
    --bg-color: rgb(249, 249, 249);
    --font-family: 'Anek Malayalam', sans-serif;
}
body{
    /* background-image: url('../images/d34b0e75fa5971a10669e0d083526dc4.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--bg-color);
    color: var(--white);
    font-family: var(--font-family);
    color: var(--text);
}
.container {
    margin: 26px 30px;
}
.container header {
    text-align: center;
    padding: 124px 0px;
    background-image: url('../../Easy_Profil/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header .image {
    margin: 45px 0px;
}
.image img {
    border-radius: 50%;
    width: 205px;
    border: 6px solid white;
}
header h1 {
    font-size: 36px;
    margin: 14px 0px;
}
header h2 {
    font-size: 26px;
}

.container .box{
    box-shadow: 0px 0px 20px 6px rgb(0 0 0 / 13%);
    width: 100%;
    height: 100%;
    padding: 30px 26px;
    margin: 50px 0px;
    background-color: var(--bg-box);
}

.easy_profil h3{
    font-size: 36px;
    font-weight: bold;
}
.easy_profil h2{
    font-size: 36px;
    margin: 20px 0px;
    
}
.easy_profil p{
    font-size: 16px;
    line-height: 1.7;
    color: var(--text);
}
.easy_profil:nth-child(2) p{
    font-weight: bold;
}
.container .skill{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 15px;
}

.progress {
    margin-left: -1rem;
}

.progress .content {
    margin: 13px 0px;
}
.progress .content .iconify{
    margin-bottom: -4px;
    margin-left: 23px;
}
.progress .global{
    display: flex;
    margin-left: 1rem;
    margin-top: -9px;
}
.global .note.select{
    background-color: #12b8ce;
}
.global .note{    
    background-color: #88878752;
    width: 38px;
    height: 5px;
    border-radius: 10px 0px 13px 0px;
    margin-left: 5px;
}
.note:nth-child(1){    
    
}
/* .progress label{
    font-size: 23px;
    font-weight: 400;
}
.progress progress{
    width: 100%;
    font-size: 18px;
    margin: 8px 0px;
} */

.education h3{
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
}
.education p{
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 6px;
}
.langage{
    background-color: white;
    color: #333333;
}
.langage h3{
    font-weight: 500;
    font-size: 36px;
}
.type ul{
    margin: 0px 45px;
    margin-top: 16px;
    font-size: 25px;
}
.type ul li{
    margin: 10px 0px;
    font-size: 16px;
    font-weight: 400;

}
.Contact h3{
    margin: 10px 0px;
    font-size: 36px;
    font-weight: 500;

}
.Contact .index{
    font-size: 23px;
    margin-top: 20px;
    font-weight: 400;

}
.index .iconify{
    color: var(--gray);
    font-size: 16px;
    margin-left: 6px;
}
.index .name {
    font-size: 16px;
    margin-left: 9px;
    font-weight: bold;
}
.index .name span:nth-child(3){
    font-size: 34px;
}
.social{
    text-align: center;
}
.social p{
    font-size: 16px;
}
.social .link{
    font-size: 18px;
}

@media(min-width:992px){
    
    .container {
        margin: 26px 30px;
    }
    .grid {
        display: grid;
        grid-template-columns: 39% 0%;
        margin-top: 5rem;
        margin-left: 3rem;	
    }
    .container header {
        margin-top: 9rem;
    }
    header .image {
        margin: 45px 0px;
    }
    .image img {
        border-radius: 50%;
        width: 205px;
    }
    
    
    
    .easy_profil h3{
        font-size: 36px;
    }
    .easy_profil h2{
        font-size: 36px;
        margin: 20px 0px;
    }
    .easy_profil p{
        font-size: 16px;
        line-height: 1.7;
    }
    .container .skill {
        margin-bottom: -95px;
        background-color: var(--gray);
        color: white;
        width: 30rem;
        margin-left: 3rem;
    }
    .skill h3 {
        font-size: 25px;
    }
    .progress {
        display: grid;
        grid-template-columns: 50%;
    }
    /* .progress label {
        font-size: 15px;
    }
    .progress progress {
        width: 100%;
        font-size: 13px;
        margin: 8px 0px;
    } */
    
    .container .education {
        background-color: var(--gray);
        color: white;
        width: 34rem;
        height: 245px;
        margin: 91px 0px;
    }
    .education h3{
        font-size: 36px;
        margin-bottom: 20px;
    }
    .education p{
        font-size: 16px;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 6px;
    }
    .container .langage {
        width: 18rem;
        height: 240px;
        margin: 94px 240px;
    }
    .langage h3{
        font-size: 36px;
    }
    .type ul{
        margin: 0px 45px;
        margin-top: 16px;
        font-size: 25px;
    }
    .type ul li{
        margin: 10px 0px;
        font-size: 16px;
    }
    .Contact h3{
        margin: 10px 0px;
        font-size: 16px;
    }
    .container .Contact {
        text-align: center;
        margin-top: -60px;
        width: 55rem;
    }
    .Contact .index{
        font-size: 23px;
        margin-top: 20px;
    }
    .index .iconify{
        color: var(--gray);
        font-size: 16px;
        margin-left: 6px;
    }
    .index .name {
        font-size: 16px;
        margin-left: 9px;
        font-weight: bold;
    }
    .index .name span:nth-child(3){
        font-size: 34px;
    }
    .social {
    text-align: center;
    margin: -140px 0px;
    }
    .social .link{
        font-size: 30px;
    }

    .container footer{
        margin-top: 10rem;
    }
    
}

@media(min-width:1200px){
    .grid {
        margin-top: 12rem;
        margin-left: 9rem;
    }
    .education p{
        font-size: 16px;
        width: 100%;
        line-height: 1.5;
        margin-bottom: 6px;
    }
    .container .langage {
        width: 20rem;
        height: 240px;
        margin: 94px 205px;
    }
    .container .Contact {
        text-align: center;
        width: 59rem;
    }
}


